@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, form, blockquote, dl, dd, pre {
	margin:0;
}
button, th, td {
	padding:0;
}
ul, ol, textarea, input {
	margin:0;
	padding:0;
}
ul, ol {
	list-style: none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
select, input, img, select {
	vertical-align:middle;
}
input {
}
select, textarea {
}
h2 {
	font-family:"Microsoft YaHei";
	font-weight:700;
}
body {
	font:12px/1.5em Arial;
	color:#000;
	background:#fafafa;
	padding: 20px;
	background-image: url(../images/bg4.jpg);
}
a {
	text-decoration: none;
	color:#696969;
}
a:hover {
	text-decoration: none;
	color:#696969;
}
.clear {
	clear:both;
}
/*----------------------------------top----------------------------------*/
.header {
	height: 50px;
	margin: 0 auto;
	background:#37485d;
}
.user{
	float: right;
}
.user-logout{
	float: left;
}
.user-logout a{
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	padding: 0 15px;

}
.user-logout a.logout{
	font-size: 14px;
}
a.user-ico span {
	height: 44px;
	line-height: 36px;
	margin: 8px 8px 0;
}
.user-control{
	float: left;
}
.user-control a ,.user-logout a{
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: relative;
	font-weight: 500;
	color: #99a1ac;
	display: block;
	border-left: rgba(255,255,255,.1) solid 2px;
}
.user-control a{
	font-size: 15px;
	padding: 0 5px;
}
.user-control a:hover,.user-logout a:hover{
	background-color: #405064;
	color: #fff;
	text-decoration: none;
}

.breadcrumb{
	border-bottom: #ddd solid 1px;
	font-size: 11px;
	background: #fafafa;
	height: 44px;
	line-height: 43px;
	padding: 0 10px;
}

.breadcrumb a{
	color: #666;
	margin-right: 5px;
}

.breadcrumb a i{
	margin-right: 3px;
	color: #999;
}

.breadcrumb a:after {
	content: "\f054";
	font-family: FontAwesome;
	font-size: 10px;
	color: #ccc;
	margin-left: 5px;
}
/*----------------------------------container-----------------------------*/

.container {
	height:auto!important;
}
/*----------------------------------left----------------------------------*/
.sidebar {
	background: none repeat scroll 0 0 #e4e9f0;
	border-right: 1px solid #C8C7C7;
	float: left;
	height: auto !important;
	min-height: 630px;
	width: 240px;
}
.logo{
	width: 231px;
	padding-left: 10px;
	background: #2b394a;
	font-weight: 400;
	height: 50px;
	line-height: 52px;
	color: #fff;
}
.sidebar-menu{
	padding: 10px;
}
.sidebar li{
	margin: 0 0 5px;
}
.sidebar li a:hover{
	background: #fff;
	color: #303b49;
}
.sidebar li a{
	border-radius: 3px;
	color: #57697e;
	display: block;
	height: 42px;
	line-height: 42px;
	padding: 0 15px 0 45px;
	font-weight: 700;
	position: relative;
	font-size:14px;
}
.sidebar li a:hover{
	text-decoration: none;
	background: #f1f3f7;
} 
.sidebar li.current>a {
	background: #fff;
	color: #303b49;
}
.sidebar li a i {
	margin-right: 15px;
	font-size: 20px;
	opacity: .5;
	position: absolute;
	left: 12px;
	top: 50%;
	height: 30px;
	line-height: 30px;
	margin-top: -16px;
}
.divider{
	height: 1px;
	padding: 0;
	margin: 10px 0;
	overflow: hidden;
	background-color: #ddd;
	border-bottom: 1px solid #fff;
}
/*----------------------------------mainbody-------------------------------*/
.main{
	margin-left:241px
}
.content {
	min-height: 529px;
	background: #fff;
}

/*--  footer --*/
.footer{
	background: #ffffff;
	border-top: #ddd solid 1px;
	text-align: center;
	padding: 10px 0;
	height: 30px;
	line-height: 30px;
}

